<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android" 
        xmlns:cdv="http://cordova.apache.org/ns/1.0"
        id          = "ru.hackinfo.online"
        versionCode = "10"
        version     = "1.11.0">

    <name>hackinfo.online</name>

    <description>
        Полезные форумы | Общение и технологии | Справочно информационный портал
На форуме вы можете общаться на любые темы - игры, программирование, музыка, технологии, так же можно скачать различный софт и регулярные обновления, скачать различные дизайнерские программы, видео обработка и исходники от них, продавать свои услуги И многое другое. Заходи и регистрируйся.
    </description>

    <author>Tadapp</author>

    <preference name='phonegap-version' value='cli-9.0.0' />

    <plugin name='cordova-plugin-splashscreen' />
    <plugin name='cordova-plugin-inappbrowser' />

    <gap:plugin name='onesignal-cordova-plugin' spec='2.4.5' source='npm' />

    <preference name='android-build-tool' value='gradle' />
    <preference name="android-targetSdkVersion" value="28" />
    <preference name='orientation' value='portrait' />

    <preference name='windows-appx-target' value='8.1-phone' />
    <preference name='WindowsToastCapable' value='true' />

    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="SplashScreenSpinnerColor" value="#007BFF" />
    
    <platform name="android">
      <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
          <application android:usesCleartextTraffic="true" />
      </edit-config>
    </platform>


    <platform name="android">
        <icon src="res/android/icon/f49653f332f9f4fd9b6dc29f2452fcc9.png" density="ldpi" />
        <icon src="res/android/icon/f9b22f38070bae74b344f5927e9078ae.png" density="mdpi" />
        <icon src="res/android/icon/f6ea92b77fe1cce3fad2144a1310588d.png" density="hdpi" />
        <icon src="res/android/icon/49e657c3467bb9eeb4efc7ddc28c9754.png" density="xhdpi" />
        <icon src="res/android/icon/275e22e177486a07cdf3e608b8ccfe23.png" density="xxhdpi" />
        <icon src="res/android/icon/a682f7e7a558e61a357bd4efdb3603f0.png" density="xxxhdpi" />

        <splash src="res/android/screen/965e3de68651d8dcc29304bdd3ac4975.png" density="port-hdpi"/>
        <splash src="res/android/screen/763b1510adfb67897e20b8380d69fc41.png" density="port-ldpi"/>
        <splash src="res/android/screen/064805b9605978b0a0f44edcf065ebf7.png" density="port-mdpi"/>
        <splash src="res/android/screen/098384493fbaac2a432dccd9ab2fb1ce.png" density="port-xhdpi"/>
    </platform>

    <platform name="ios">
        <icon src="res/ios/icon/5cf7e0fe8d3f82504e05bc3541934b27.png" width="180" height="180" />
        <icon src="res/ios/icon/7d60c34ea12df217a9e8fcc952b4a2c9.png" width="60" height="60" />
        <icon src="res/ios/icon/29571ce234cdab90ca3bbd65c74faf15.png" width="120" height="120" />
        <icon src="res/ios/icon/2a16572e5c5a7c9a54556c2bdc0f0e8d.png" width="76" height="76" />
        <icon src="res/ios/icon/4a02ee929b00a94cad7e768e9c4c9c83.png" width="152" height="152" />
        <icon src="res/ios/icon/8c92837e7e1800bcae1995f7e8450ec9.png" width="57" height="57" />
        <icon src="res/ios/icon/0d5ecd7443c11dde49fd663b1beb4386.png" width="114" height="114" />
        <icon src="res/ios/icon/d368f6491d7c6c52aca1985d04495721.png" width="72" height="72" />
        <icon src="res/ios/icon/e8bbf7e9f29648100cc60f99848a5a44.png" width="144" height="144" />
        <icon src="res/ios/icon/b3d2a6943a416936ac4756ed8f6e0e62.png" width="167" height="167" />
        <icon src="res/ios/icon/f1c03dd353168b341ab842e66396bb35.png" width="29" height="29" />
        <icon src="res/ios/icon/edd8ce13af5a5569d0c5712518af8b92.png" width="58" height="58" />
        <icon src="res/ios/icon/1908dba9cf18b187cffa4ba41b254192.png" width="87" height="87" />
        <icon src="res/ios/icon/7980b8abf8449737b6eb1e10869b1f83.png" width="167" height="167" />

        <splash src="res/ios/screen/5690ac9dbc5866f5e65226ba21232cc4.png" />
        <splash src="res/ios/screen/b7c812bcb82da591266eaaae5bdf5079.png" />
        <splash src="res/ios/screen/a957c0a1a48b2d0ac2cd4e5db90c671f.png" />
        <splash src="res/ios/screen/6546ebce827d1556c58a5235023bb924.png" />
        <splash src="res/ios/screen/bbb70b20cd624d7deb048cb7f703f8df.png" />
        <splash src="res/ios/screen/1d40fceff16bac5b2376b4a614462c99.png" />
    </platform>

    <platform name="winphone">
        <icon src="res/windows/icon/ab6f455829d3b7827b39a59aa95984bf.png" target="StoreLogo" />
        <icon src="res/windows/icon/c337e67b519d05649582ef9e363e73b4.png" target="Square30x30Logo" />
        <icon src="res/windows/icon/ed2e9d51df8ac79acf15af10f54a619b.png" target="Square44x44Logo" />
        <icon src="res/windows/icon/570dadffa957562739250d44d2d3603f.png" target="Square70x70Logo" />
        <icon src="res/windows/icon/76c1fdb94ab7721bbac1af6f81c7c4b4.png" target="Square71x71Logo" />
        <icon src="res/windows/icon/736215af7a0ffdbea2047b583b3df1b2.png" target="Square150x150Logo" />
        <icon src="res/windows/icon/7a359f9b69e207b5deca530dd074bdae.png" target="Square310x310Logo" />

        <splash src="res/windows/screen/0c240875471ea149d89677aece91f503.png" target="SplashScreen"/>
        <splash src="res/windows/screen/0f00e1103e30b8010f772569ea30be5e.png" target="SplashScreenPhone"/>
    </platform>

    <access origin='*'/>
    <plugin name='cordova-plugin-whitelist' />
    <allow-intent href='http://*/*'/>
    <allow-intent href='https://*/*'/>
    <allow-intent href='tel:*'/>
    <allow-intent href='sms:*'/>
    <allow-intent href='mailto:*'/>
    <allow-intent href='geo:*'/>

</widget>